<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
	<meta charset="windows-1252" />
	<title>Feel the Speed!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link type="text/css" rel="stylesheet" href="css/main.css" />
	<link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	
	<script src="app/app.js"></script>
	<script src="app/controllers.js"></script>
	<script src="app/services.js"></script>
	
</head>
<body ng-controller="MainCtrl">
	<div id="page-container">
		<div class="container-fluid">
			<p ng-show="output.buddy">Your Buddy is: '{{output.buddy}}'</p>
			<form ng-show="output.show == 'astronaut'" name="loginform">
				<div class="row">
					<!-- NAME -->
					<div class="form-group col-xs-6 col-md-6">
						<label class="label-text" for="forName">Name:</label>
						<select id="nameid" class="form-control" ng-model="input.username" required>
							<option value="">Choose Your Name</option>
							<option ng-repeat="user in users" value="{{user.guid}}">
								{{user.name.first}} {{user.name.last}}
							</option>
						</select>
					</div>
					<!-- EMAIL -->
					<div class="form-group col-xs-6 col-md-6">
						<label class="label-text" for="forEmail">Email:</label>
						<select id="emailid" class="form-control" ng-model="input.email" required>
							<option value="">Choose Your Email</option>
							<option ng-repeat="user in users | orderBy:'email'" value="{{user.guid}}">
								{{user.email}}
							</option>
						</select>
					</div>
				</div>
				<div class="row">
					<!-- DOG -->
					<div class="form-group col-xs-6 col-md-6">
						<div class="radio">
							<label class="label-text">
								<input type="radio" name="dogRadio" value="false" ng-model="input.dog">
								I'm allergic to fur <img src="css/images/confused.png" /> 
							</label>
							<label class="label-text">
								<input type="radio" name="dogRadio" value="true" ng-model="input.dog">
								Take a dog <img src="css/images/happy.png" /> 
							</label>
						</div>
					</div>
					<div class="col-xs-6 col-md-6">
						<p ng-show="input.error" class="errormsg">{{input.error}}</p>
						<button class="btn btn-lg btn-primary btn-block" ng-click="login()">Login</button>
					</div>
				</div>
			</form>
			<p ng-show="output.show == 'committee'">
				<button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#exampleModal" ng-click="launch()">
					<img src="css/images/rocket.png" /> Launch It Now
				</button>
			</p>
			<!-- POPUP MSG -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeLaunch()">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="exampleModalLabel">Launch Astronaut in Order</h4>
						</div>
						<div class="modal-body">
							<form>
								<div class="form-group" ng-repeat="pu in pickedUsers">
									<label for="astronaut-name" class="control-label"> 
										{{pu.name}} -> {{pu.pick}}
									</label>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeLaunch()">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="page-footer">
			<h2>We are supplying tools and resources needed for life off the Earth.</h2>
			<h3>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</h3>
		</div>
	
	</div>
</body>

</html>







